.btn {
  border-width: 0;
  border-radius: 4px;
  .button-size(@padding-btn-vertical; @padding-base-horizontal; @font-size-base; @font-size-base; @btn-border-radius-base);
}

// Alternate buttons
// --------------------------------------------------
.btn-primary-green {
  .button-variant(@btn-primary-green-color; @btn-primary-green-bg; @btn-primary-border);
}