
.form-control {
  border-top-width: 0; 
  border-left-width: 0; 
  border-right-width: 0;
  padding: @padding-base-vertical 0;
  border-bottom: 1px solid @input-border;
  .box-shadow(none);
  .form-control-focus();

  // Customize the `:focus` state to imitate native WebKit styles.
  .form-control-focus();
}

.has-error {
  .form-control-validation(@state-danger-text; @state-danger-border; @state-danger-bg);
}
