.center-hor() {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0%);
}

.center-vert() {
    position: absolute;
    top: 50%;
    transform: translate(0%, -50%);
}

.centerer() {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}