<!DOCTYPE html>
<html>
  <head>
    <base href="<%= htmlWebpackPlugin.options.baseUrl %>" />
    <title>Webpack</title>
    <link href="<%= htmlWebpackPlugin.options.baseUrl %>favicon.ico" rel="icon" type="image/x-icon" />
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    <js-app>Loading...</js-app>
  </body>
</html>
