<div class="container" [@fadeLogin] *ngIf="actRoute === '/login'">
    <!--*ngIf="actRoute === '/login'"-->
    <div class="row login-page">
        <div class="col-md-4 col-md-offset-4">
            <div class="block-content">
                <div class="block-content-inner">
                    <form name="loginForm" #form="ngForm" novalidate (ngSubmit)="login(form)">
                        <div class="login-page-logo -has-error-common-message" [ngClass]="{logoError: meUser.error}"></div>
                        <!-- Error messages-->
                        <label class="error-message -login-error-common-message" *ngIf="meUser.error">{{meUser?.eMessage}}</label>
                        <!-- Error messages-->
                        <!--<p>Touched: {{email.touched}}; Submitted: {{form.submitted}}; Pristine: {{email.pristine}}; Dirty: {{email.dirty}};<p>
                        <p>{{show_err(email.errors)}}</p>-->
                        <div class="form-group" [class.has-error]="email.touched && (email.errors?.required || email.errors?.pattern)" [class.has-success]="email.touched && email.valid">
                            <label for="InputEmail">Email address</label>
                            <input type="email" class="form-control" id="InputEmail" placeholder="Email" name="email" [(ngModel)]="meUser.email"
                                required #email="ngModel" pattern="^[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+\.[a-zA-Z0-9-.]+$" minlength="1" (focus)="focused(form, 'email');">
                            <span class="icons icon-success"></span>
                            <span class="icons icon-error"></span>
                            <label class="error-message -hanged" for="InputEmail" [hidden]="!email.touched || !email.errors?.required">Please specify your email</label>
                            <label class="error-message -hanged" for="InputEmail" [hidden]="!email.touched || !email.errors?.pattern">Please enter a valid email address of a proper format example@email.com</label>
                        </div>
                        <!--<p>{{show_err(password.errors)}}</p>-->
                        <div class="form-group padding-for-link" [class.has-error]="password.touched && (password.errors?.required || password.errors?.pattern || password.errors?.minlength)" [class.has-success]="password.touched && password.valid">
                            <label for="InputPassword">Password</label>
                            <input type="password" class="form-control" id="InputPassword" placeholder="Type your password" name="password" [(ngModel)]="meUser.password"
                                required #password="ngModel" pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[\x21-\x2F\x3A-\x40\x5B-\x60\x7B-\x7E])(?!.*\s)[\x21-\x7E]*$"
                                minlength="8" maxlength="25" (focus)="focused(form, 'password');">
                            <a routerLink="/" class="forgot-link">Forgot?</a>
                            <span class="icons icon-success"></span>
                            <span class="icons icon-error"></span>
                            <label class="error-message -hanged" for="InputPassword" [hidden]="!password.touched || !password.errors?.required">Please specify your password</label>
                            <label class="error-message -hanged" for="InputPassword" [hidden]="!password.touched || !(password.errors?.pattern || password.errors?.minlength)">Please make sure that your password consists of latin symbols and contains: no less than 8 characters, upper and lower cases, at least one number and special symbol.</label>
                        </div>
                        <div class="login-page-bottom-controls" *ngIf="!authService.isLogInProp">
                            <button type="submit" class="btn btn-blue width-140" >Login</button>
                        </div>
                    </form>
                        <div class="login-page-bottom-controls" *ngIf="authService.isLogInProp">
                            <button (click)="logout()" class="btn btn-gray-border">Logout</button>
                        </div>
                </div>
            </div>
        </div>
    </div>
</div>
