<div class="page-header">
    <h1> {{'DASHBOARD.How_do_you_feel_today'|translate}} </h1>
    <svg><use xlink:href="#activity"></use></svg>
    <svg><use xlink:href="#calendar"></use></svg>
    <img src="/public/images/avatar.png">
    <div class="clear"></div>
    <ul>
      <li><a href="{{'/en'+actRoute}}"><span class="icons icon-flag-en"></span>{{'USER.English'|translate}}</a></li>
      <li><a href="{{'/ar'+actRoute}}"><span class="icons icon-flag-ar"></span>{{'USER.Arabic'|translate}}</a></li>
    </ul>
    <div class="clear"></div>
    <div>{{user.lang}}</div>
    <div class="clear"></div>
    <div class="float-right">
      I float right - ltr, and left - rtl
    </div>
</div>
