.form-control-focus(@color: @input-border-focus) {
  @color-rgba: rgba(red(@color), green(@color), blue(@color), .6);
  &:focus {
    border-color: @color;
    border-bottom-width: 2px;
    outline: 0;
    .box-shadow(none);
  }
}

.form-control-validation(@text-color: #555; @border-color: #ccc; @background-color: #f5f5f5) {
  // Color the label and help text
  .help-block,
  .control-label,
  .radio,
  .checkbox,
  .radio-inline,
  .checkbox-inline,
  &.radio label,
  &.checkbox label,
  &.radio-inline label,
  &.checkbox-inline label  {
    color: @text-color;
  }
  // Set the border and box shadow on specific inputs to match
  .form-control {
    border-bottom-width: 2px;
    .box-shadow(none); // Redeclare so transitions work
    &:focus {
      border-color: @state-danger-border;
      .box-shadow(none);
    }
  }
  // Set validation states also for addons
  .input-group-addon {
    color: @text-color;
    border-color: @border-color;
    background-color: @background-color;
  }

  // Optional feedback icon & message
  .form-control-feedback {
    position: absolute;
    bottom: -25px;
    top: auto;
    right: 0;
  }
  .errror-message {
    color: @state-danger-text;
    font-size: 12px;
    position: absolute;
    bottom: -22px;
    left: 0;
  }
}
